Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(', ') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
make OS_PACKAGE_RELEASE=el9

%install
make DESTDIR=%{buildroot} install

%files
%dir /usr/share/cockpit
%dir /usr/share/cockpit/cockpit-2fa
/usr/share/cockpit/cockpit-2fa/*



%post
# Add Google Authenticator PAM line to Cockpit if not already present
PAM_FILE="/etc/pam.d/cockpit"
PAM_LINE="auth       required pam_google_authenticator.so nullok"

# Only append if the line isn't already present and the file exists
if [ -f "$PAM_FILE" ] && [ -w "$PAM_FILE" ]; then
    if ! grep -Fxq "$PAM_LINE" "$PAM_FILE"; then
        echo "$PAM_LINE" >> "$PAM_FILE"
    fi
fi

%changelog
* Tue Jun 03 2025 Rachit Hans <rhans@45drives.com> 1.0.0-2
- added chnage log parameter in spec.j2 files